.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header p {
	margin-left: 10px;
}
.header-nav ul li {
	margin-right: 75px;
}

.header-nav ul li:last-child {
	margin-right: 20px;
}

.header-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

.background {
	background-color: #f4f4f4;
	width: 100%;
}
.container {
	text-align: center;
}
body {
	margin: 0;
	padding: 0;
}
