@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
	scroll-padding-top: 50px;
	font-family: "Montserrat", Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d43737;
	position: fixed;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header p {
	margin-left: 10px;
}
.header-nav ul li {
	margin-right: 75px;
}

.header-nav ul li:last-child {
	margin-right: 20px;
}

.header-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}
header a,
header p {
	color: white;
	text-decoration: none;
}
.home-background {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url("src/images/resume-background.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 75vh;
}
.home {
	padding-top: 50px;
}
.home-background h1 {
	font-size: 4rem;
	color: white;
}
.home-background p {
	font-size: 2rem;
	color: white;
}
.home-background::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #001c55;
	opacity: 0.75;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.home-content {
	position: relative;
	z-index: 1;
	color: white;
	text-align: center;
	padding: 0 300px;
	height: 60%;
}
.container {
	text-align: center;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", Arial, sans-serif;
	background: #f2f3eb;
}
section#templates {
	background-color: #f2f3eb;
	padding: 3rem 0;
}
section#features,
section#templates,
section#about-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
}
.section-heading {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
}
.column-cards,
.about-us-cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 1.2rem;
}
section#about-us {
	height: 30vh;
}
.column-cards li {
	box-sizing: border-box;
	width: 33.33%;
	padding: 10px;
}
.column-cards span {
	font-size: 24px;
}
.column-cards span.material-icons,
.column-cards span.material-symbols-outlined {
	font-size: 3rem;
	color: #e52e2e;
}
.column-cards ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	flex: 1;
}
.column-cards h6 {
	font-size: 1.5rem;
	color: #e52e2e;
}
.column-cards span {
	width: 100%;
	justify-content: center;
	align-items: center;
}
.column-cards li span,
.column-cards li h6,
.column-cards li p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

.resume-card .resume-template {
	margin: 0 4rem;
}
.resume-template {
	position: relative;
	width: 21em;
	height: 29.7em;
	background-size: 21em 29.7em;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	margin: auto;
	overflow: hidden;
}

#template-1 {
	background-image: url("src/images/resume-template-1.png");
	background-size: cover;
}

#template-2 {
	background-image: url("src/images/resume-template-2.png");
	background-size: cover;
}

#template-3 {
	background-image: url("src/images/resume-template-3.png");
	background-size: cover;
}
.resume-template * {
	position: relative;
	z-index: 2;
}
.resume-template:hover .color-overlay {
	background: rgba(74, 100, 114, 0.8);
}
.resume-template:hover .info {
	bottom: -3em;
	opacity: 1;
}
.resume-template,
.color-overlay {
	border-radius: 0.7em;
}
.color-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transition: 0.7s background;
	z-index: 1;
}

.title-box {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 2em;
}
.title-box hr {
	margin-top: -0.4em;
	margin-bottom: 1em;
	width: 5em;
	height: 0.25em;
	box-sizing: content-box;
	border: none;
	background: #d0bc57;
}
h3 {
	display: inline-block;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.4em;
	color: #d0bc57;
	text-align: center;
}
#about-us-heading {
	font-size: 1rem;
	color: #e52e2e;
}

.generate-button {
	align-items: center;
	background-clip: padding-box;
	background-color: #e52e2e;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.generate-button:hover,
.generate-button:focus {
	background-color: #f56969;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.generate-button:hover {
	transform: translateY(-1px);
}

.generate-button:active {
	background-color: #d43737;
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}

.form-header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	color: #e52e2e;
}
.form-header button {
	margin-left: 10px;
	position: absolute;
	left: 0;
	align-items: end;
	justify-self: start;
}
